.cardscontainer{
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;

}
.card{
  display: flex;
  width: 94%;
  height: 170px;
  background-color: #ffffffbd; 
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4% 3%;
  padding: 2%;
}

.pokemondisplay{
  width: 100%;
}

button{
  width: 80%;
  height: 3rem;
  margin: 2% auto;
  background-color: green;
  color: whitesmoke;
  border: 0;
  border-radius: 10px;
  font-size: 1.3rem;
  outline: none;
}